.info-container {
  border: 3px solid blue;
  width: 700px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
}

.info-group {
  width: 130%;
}

.tracker {
  border: 3px solid purple;
  width: 700px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}
.salarymeter-container {
  border: 3px solid red;
  width: 700px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
}
